/* ALL VIEWS */

nav + section  {
  min-height: 100vh;
}

/* GRADIENT BACKGROUND FOR HOMEPAGE */

.gradient-custom-1 {
  /* fallback for old browsers */
  background: rgba(13,110,253,1);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(13,110,253,1), rgb(146, 190, 255));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(13,110,253,1), rgb(146, 190, 255))
}

/* HOMEPAGE TABLES */

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
tbody td {
  /* font-weight: 500; */
  color: #999999;
}

.disabled-row {
  opacity: 0.2;
  pointer-events: none;
}

/* REGISTER */

#role {
  pointer-events: none; /* Prevents the user from clicking and typing in the field */
  background-color: #e9ecef; /* Adds a disabled-like appearance */
}